# © 2021 Qualcomm Innovation Center, Inc. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
# Gunyah Coding Style - requires Clang Format >= 9
#
# For more information, see:
#
#   https://clang.llvm.org/docs/ClangFormat.html
#   https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language:        Cpp
AccessModifierOffset: -8
AlignAfterOpenBracket: Align
AlignArrayOfStructures: None
AlignConsecutiveAssignments:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  PadOperators:    true
AlignConsecutiveBitFields:
  Enabled:         false
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  PadOperators:    true
AlignConsecutiveDeclarations:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  PadOperators:    true
AlignConsecutiveMacros:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  PadOperators:    true
AlignEscapedNewlines: Right
AlignOperands:   Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
AttributeMacros:
  - _Atomic
  - alignas
  - LOCKABLE
  - PROTECTED_BY
  - PTR_PROTECTED_BY
  - ACQUIRE_LOCK
  - TRY_ACQUIRE_LOCK
  - RELEASE_LOCK
  - REQUIRE_LOCK
  - EXCLUDE_LOCK
  - ACQUIRE_READ
  - TRY_ACQUIRE_READ
  - RELEASE_READ
  - REQUIRE_READ
  - EXCLUDE_READ
  - ACQUIRE_RCU_READ
  - TRY_ACQUIRE_RCU_READ
  - RELEASE_RCU_READ
  - REQUIRE_RCU_READ
  - EXCLUDE_RCU_READ
  - LOCK_IMPL
  - ACQUIRE_SPINLOCK
  - ACQUIRE_SPINLOCK_NP
  - TRY_ACQUIRE_SPINLOCK
  - TRY_ACQUIRE_SPINLOCK_NP
  - RELEASE_SPINLOCK
  - RELEASE_SPINLOCK_NP
  - REQUIRE_SPINLOCK
  - ACQUIRE_PREEMPT_DISABLED
  - TRY_ACQUIRE_PREEMPT_DISABLED
  - RELEASE_PREEMPT_DISABLED
  - REQUIRE_PREEMPT_DISABLED
  - EXCLUDE_PREEMPT_DISABLED
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      true
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Always
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeComma
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeComma
BreakAfterJavaFieldAnnotations: false
BreakStringLiterals: false
ColumnLimit:     80
CommentPragmas:  '^ FIXME:'
QualifierAlignment: Left
CompactNamespaces: false
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
DeriveLineEnding: false
DerivePointerAlignment: false
DisableFormat:   false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
ExperimentalAutoDetectBinPacking: false
PackConstructorInitializers: BinPack
BasedOnStyle:    ''
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowAllConstructorInitializersOnNextLine: true
FixNamespaceComments: true
ForEachMacros:
  - list_foreach
  - list_foreach_container
  - list_foreach_container_maydelete
  - list_foreach_container_consume
  - vpm_vcpus_state_foreach
IfMacros: []
IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^<(hyptypes|assert|limits|string|std.*)\.h>$'
    Priority:        -100
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<(hyp[a-z].*|result)\.h>$'
    Priority:        -90
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<asm/'
    Priority:        -50
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<asm-generic/'
    Priority:        -25
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<events/'
    Priority:        -60
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<'
    Priority:        -75
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^"common\.h"$'
    Priority:        -10
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^"'
    Priority:        -1
    SortPriority:    0
    CaseSensitive:   true
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''
IndentAccessModifiers: false
IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: true
IndentPPDirectives: None
IndentExternBlock: AfterExternBlock
IndentRequiresClause: false
IndentWidth:     8
IndentWrappedFunctionNames: false
InsertBraces:    true
InsertTrailingCommas: None
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
MacroBlockBegin: '^BITMAP_(ATOMIC_)?FOREACH_(SET|CLEAR)_BEGIN$'
MacroBlockEnd:   '^BITMAP_(ATOMIC_)?FOREACH_(SET|CLEAR)_END$'
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 2
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 10
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyIndentedWhitespace: 0
PointerAlignment: Right
PPIndentWidth:   -1
ReferenceAlignment: Pointer
ReflowComments:  true
RemoveBracesLLVM: false
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 1
SortIncludes:    CaseSensitive
SortJavaStaticImport: Before
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros:   true
  AfterOverloadedOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  Never
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInLineCommentPrefix:
  Minimum:         1
  Maximum:         1
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
BitFieldColonSpacing: Both
Standard:        Latest
StatementAttributeLikeMacros: []
StatementMacros: []
TabWidth:        8
UseCRLF:         false
UseTab:          Always
WhitespaceSensitiveMacros: []
...
