// © 2021 Qualcomm Innovation Center, Inc. All rights reserved.
//
// SPDX-License-Identifier: BSD-3-Clause

// Capability space interface types.

extend error enumeration {
	CSPACE_CAP_NULL	= 50;
	CSPACE_CAP_REVOKED = 51;
	CSPACE_WRONG_OBJECT_TYPE = 52;
	CSPACE_INSUFFICIENT_RIGHTS = 53;
	CSPACE_FULL = 54;
};

define cap_id_t public newtype uint64;

define CSPACE_CAP_INVALID public constant type cap_id_t = -1;

define cap_rights_t public newtype uint32;

define cap_rights_generic bitfield<32> {
	others unknown=0;
};

extend thread object module cspace {
	cspace pointer object cspace;
};

#for obj in $object_list
#set o = str(obj)
define cap_rights_${o} bitfield<32> {
	others	unknown=0;
};
#end for
