// © 2021 Qualcomm Innovation Center, Inc. All rights reserved.
//
// SPDX-License-Identifier: BSD-3-Clause

#for obj in $object_list
#set o = str(obj)

${o}_ptr_result_t
cspace_lookup_${o}(cspace_t *cspace, cap_id_t cap_id, cap_rights_${o}_t rights);

${o}_ptr_result_t
cspace_lookup_${o}_any(cspace_t *cspace, cap_id_t cap_id, cap_rights_${o}_t rights);
#end for
